<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>My Shader Playground</title>
  <style>
    body {
      background-color: #FFFFFF;
      padding: 20px;
      margin: 0;
    }
    h1, h2, p, ul, li {
      font-family: Helvetica, Arial, sans-serif;
    }
    ul.header li {
      display: inline;
      list-style-type: none;
      margin: 0;
    }
    ul.header {
      background-color: #111;
      padding: 0;
    }
    ul.header li a {
      color: #FFF;
      font-weight: bold;
      text-decoration: none;
      padding: 20px;
      display: inline-block;
    }
    .content {
      background-color: #FFF;
      padding: 20px;
    }
    .content h2 {
      padding: 0;
      margin: 0;
    }
    .content li {
      margin-bottom: 10px;
    }
    .active {
      background-color: #0099FF;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>